<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tareas</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="connection.autocommit">true</property>
    <mapping class="domain.periodicidad.PeriodicidadSemanal" package="domain.periodicidad" resource="domain/periodicidad/PeriodicidadSemanal.hbm.xml"/>
    <mapping class="domain.tareas.Tarea" package="domain.tareas" resource="domain/tareas/Tarea.hbm.xml"/>
    <mapping class="domain.sesiones.Sesion" package="domain.sesiones" resource="domain/sesiones/Sesion.hbm.xml"/>
  </session-factory>
 
</hibernate-configuration>
